/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover {
    opacity: .5;
    transition: 0.3s ease-in-out;
}

ul {
    list-style: none;
}

/* NAVEGATION */
.navegation{
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 50% 40%;
}

.navegation ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 12px;
    text-align: center;
}

.navegation a {
    color: white;
}

/* BANNER */
.banner {
    height: 280px;
    width: 100%;
    background: url(./img/bg-hero.png);
    background-size: cover;
    text-align: end;
    color: white;
}

.banner-content {
    padding: 50px;
}

.banner-content h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

/* PUBLICACION 1 */
.p1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.p1 img {
    margin-top: 60px;
    margin-bottom: 30px;
    height: 280px;
    border-radius: 10px;
}

.p1 p {
    margin-top: 10px;
}

/* PUBLICACION 2 */
.p2 {
    background: #a4452c;
    margin-top: 40px;
    height: 300px;
}

.general-contentent-p2 {
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;
    padding: 40px;

}
.p2 .img {
    text-align: center;
    justify-content: center;
    max-height: 200px;
    border-radius: 10px;
    margin-left: 25%;
}

.img img {
    text-align: center;
    max-height: 200px;
    border-radius: 10px;
}

.p2-content {
    text-align: left;
}

.p2-h {
    padding: 0 30px 0 10px;
}

.desc {
    padding: 10px 30px 0 10px;
}

.p2-p {
    padding: 10px 30px 0 10px;
}

/* EVENTOS */
.e-cont {
    text-align: center;
    padding-top: 50px;
}

.eventos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eventos img {
    max-height: 180px;
    border-radius: 10px;
}

.eventos a {
    color: black;
}

/* FOOTER */
footer {
    height: 100px;
    background-color: black;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    text-align: center
}

footer a {
    color: white;
}

.social{
    padding: 30px 35% 10px 35%;
}

.social ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* MEDIAQUERY'S */
@media (max-width: 900px) {
    /* MEDIA_PUBLICACION2 */
    .general-contentent-p2 {
        grid-template-columns: 45% 55%;
        padding: 30px;
    }

    .p2 .img {
        margin-left: 20%;
    }

    /* MEDIA_EVENTOS */
    .eventos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 50px;
    }
}

@media (max-width: 615px) {
    /* MEDIA_PUBLICACION2 */
    .p2 {
        margin-top: 40px;
        height: 400px;
    }

    .general-contentent-p2 {
        grid-template-columns: 50% 50%;
        padding-top: 65px;
    }

    .p2 .img {
        margin-left: 15%;
    }

    /* MEDIA_EVENTOS */
    .eventos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}