div {background-color: black;}
body {margin-left: 12%; margin-top: 20px; margin-right: 12%;min-height: 1500px; background-color: cornsilk;}

.articulo1,.articulo2,.articulo3,.cabeza,.pie{border:1px black solid}
.articulo1,.articulo3 {background-color: white;}

p, a{font-family: 'Open Sans', sans-serif; font: 400;}
h3 {font-family: 'Open Sans', sans-serif; font: 800;}
h2 {font-family: 'Open Sans', sans-serif; font: 700;}

.navegador1 {text-align: left; float: left; padding: 5px solid}
.menu li {text-align: left; list-style: none; display: inline-block ;border: black solid 1px; color: white; background-color: #000f08;}
.menu li a {display: block;padding: 5px 7px; color: white;font-family: 'Times New Roman', Times, serif;text-decoration: none; position: relative;}
.menu li a:hover{color:blanchedalmond; transition: .3s;}

.cabeza h2,.cabeza p {color: white;}
.cabeza {text-align: right; padding-right: 50px; padding-bottom: 50px;clear: both; padding-top: 20px;}
.cabeza {background-image: url(../desafio_latam/img/bg-hero.png); background-position: center; background-repeat: no-repeat;background-size: 1000px;}

.articulo1 {text-align: center; padding: 20px;}
.articulo1 img {height: 140px;padding-top: 50px;}
.articulo1 p {margin-bottom: 50px;}

.articulo2 {border:1px black solid; background-color:#A4452C;text-align: left;padding-top: 30px; padding-bottom: 50px;}
.articulo2 hgroup {padding: 0;text-align: left; padding-left: 40%;color: white;}
.articulo2 p {text-align: left; padding-left: 40%;padding-right: 10%; color: white; font-size:xx-small;}
.articulo2 img {float: left; width: 180px; margin: 20px; margin-left: 10%;}

.articulo3 {text-align: center;width: 99.6999%;display: flex;flex-wrap: wrap;background-color: white;}
.articulo3 img {width: 22%; margin-left: 5%; margin-right: 5%;}
.articulo3 h3 {padding-top: 40px;padding-bottom: 10px;}
.articulo3 div {padding-bottom: 40px;}
.imagenes3 {background-color: white;}
.imagenes3 .a1 {margin-right: 8%;margin-left: 3%;}
.imagenes3 .a2 {margin-left: 8%;margin-right: 8%;}
.imagenes3 .a3 {margin-left: 8%; margin-right: 3%;}
.imagenes3 .a1:hover {color:green; transition: .3s;}
.imagenes3 .a2:hover {color:cadetblue; transition: .3s;}
.imagenes3 .a3:hover {color:rgb(205, 72, 72); transition: .3s;}
.imagenes3 a {color: black;font-family: 'Times New Roman', Times, serif;text-decoration: none; position: relative}
.imagenes3 a {display: inline-flex; flex-wrap: wrap;}

.pie {background-color: black;clear: both;color: white;}
.pie p {background-color: black; text-align: center;}
.pie a {text-align: center; list-style: none; display:list-item; color: white; background-color:black;}
.pie a {padding: 1px 1px; color: white;font-family: 'Times New Roman', Times, serif;text-decoration: none; position:relative;}
.pie div {padding-bottom: 20px; padding-top: 5px;}
.pie a:hover{color:darksalmon; transition: .3s;}